<!doctype html>
<html>
    <head>
        <title>{{ pagetitle }}</title>
        
        <link rel="stylesheet" href="{{ style }}" type="text/css" />
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    </head>
    <body>
        <div id="main">
            <div id="header"><h1>{{pagetitle}}</h1></div>
            {% for country in countries %}
                <div class="datasetbox" onclick="document.getElementById('{{country}}_details').className='expanded'">
                    {{ country }} <img style="float:right;" src="/static/arrow.png" height="25px" />
                    <div class="collapsed" id="{{country}}_details">
                        <table width="100%">
                            {% for year in bycountry[country] %}
                                <tr>
                                    <td>{{year.year}}</td><td style="text-align:right;">{{year.value}}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            {% endfor %}
        </div>
    </body>
</html>